#home-page {

}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 100vw;
    max-height: 100vh;
}

.buttonContainer button {
    background: var(--color-border);
    opacity: 0.5;
    border: dashed 2px;
    border-color: white;
    border-radius: 5px;

    width: 25rem;
    height: 25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 5px;

    transition: all 0.25s;
}

.buttonContainer button strong {
    font-size: 10rem;
}

.add:hover {
    background-color:#1c1c1c;
    cursor: pointer;
}